<!DOCTYPE html>
<html>
<head>
  <title>SmartAuthExample</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <link rel="stylesheet" href="//smart-auth.r15.railsrumble.com/css/button.css" type="text/css" media="screen">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
